.container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
}

.selectBox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    
}

.selectItem {
    padding: 1px;
    height: fit-content;
    margin: 1px;
}