.container {
    border: 4px solid black;
    border-radius: 10px;
    margin: auto;
    padding: auto;
    color: aliceblue;
}

.selectBox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    
}

.selectItem {
    padding: 1px;
    height: fit-content;
    margin: 1px;
}

.titlebox {
    padding: 1%;
    display: flex;
    justify-content: space-around;
}

.requesIcon {
    width: 30px;
}