.container {
    border: 4px solid black;
    border-radius: 10px;
    margin: 1%;
    padding: 0.5%;
    color: aliceblue;
}

.selectBox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    
}

.selectItem {
    padding: 1px;
    height: fit-content;
    margin: 1px;
}

.titlebox {
    padding: 1%;
    display: flex;
    justify-content: space-around;
}