.container {
    border: 3px solid red;
    position: fixed;
    right: 10%;
    bottom: 10%;
    padding: 1%;
    background-color: transparent;
    border-radius: 50%;
    animation-name: saltar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    bottom: 0%;
    right: 18%;
    transform: translateX(50%);
}

.container:hover{
    background-color: rgb(73, 72, 72);
}


.icon {
    width: 80px;
}

.cont {
    position: absolute;
    background-color: #B40E42;
    color: white;
    padding: 14%;
    border-radius: 50%;
    right: 1px;
    top: 0;
    font-size: 1rem;
}

@keyframes saltar {
    0%{ scale: 1;}
    50%{ scale: 1.5;}
    100%{ scale: .9;}
}