.minibox{

    border-radius: 1rem;
    background-color: rgba(117, 2, 2, 0.781);
    box-shadow: 0 8px 32px 0 rgba(130, 130, 130, 0.37);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(197, 191, 183);
    overflow: hidden;
    border: 1px solid black;
    width: 1000px;
    /* width: 1000px; */
    height: 150px;
}

.minibox:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #000000;

}
.title {
    font-size: 15px;
    margin: 0;
}
.containerizquierda {
    float: left;
    width: 25%; /* Ajusta el ancho según tus necesidades */
    margin-right: 10px; /* Agrega margen a la derecha del contenedor */
  }

.containerderecha{
    background-color: #2b2b2b;
    color: aliceblue;
    float: right;
    width: 150px; /* Ajusta el ancho según tus necesidades */
    margin-right: 10px; 
    border-radius: 20%;
    padding: auto;
    border: 0;
}

.containerderecha:hover {
        cursor: pointer;
        color: rgb(255, 255, 255);
        background-color: #3f0f0f;
}
