.minibox{
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.781);
    box-shadow: 0 8px 32px 0 rgba(130, 130, 130, 0.37);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(197, 191, 183);
    overflow: hidden;
    border: 1px solid black;
    width: 1000px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .minibox {
      width: 100%;
      height: auto;
    }
  }
  
  .minibox2{
    border-radius: 1rem;
    background-color: rgba(117, 2, 2, 0.781);
    box-shadow: 0 8px 32px 0 rgba(130, 130, 130, 0.37);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(197, 191, 183);
    overflow: hidden;
    border: 1px solid black;
    height: 115px;
    width: 83%;
  }
  
  .minibox2:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #000000;
  }
  
  .title_container {
    max-width: 500px; /* ancho máximo */
    margin: 0 auto; /* centrar horizontalmente */
    background-color: #575555; /* color de fondo de la caja */
 
    border: 1px solid #c40b0b; /* agregar un borde */
    border-radius: 10px; /* agregar esquinas redondeadas */
  }
  
  .title {
    font-size: 18px;
    margin: 0; /* quitar margen para el título */
    font-family: 'Comic Sans MS';
    box-shadow: 0 8px 32px 0 rgba(189, 4, 4, 0.37);
    text-align:center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  .price{
    font-size: 18px;
    margin: 0; /* quitar margen para el título */
    font-family: 'Comic Sans MS';
    box-shadow: 0 8px 32px 0 rgba(189, 4, 4, 0.37);
    text-align:center;
    margin-top: 10px;
    border: 1px solid #c40b0b; /* agregar un borde */
    border-radius: 10px; /* agregar esquinas redondeadas */
  
  }
  
  
  .containerizquierda {
    float: left;
    width: 25%;
    margin-right: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .containerizquierda {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  .containerderecha{
    color: aliceblue;
    float: right;
    width: 80px;
    margin:auto;
    border-radius: 20%;
    padding: auto;
    border: 0;
  }
  
  @media screen and (max-width: 768px) {
    .containerderecha {
      float: none;
      width: 100%;
      margin-right: 0;
      text-align: center;
    }
  }