.Cards__Container {
    color: white;
}

.Filter__Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0
}

.Filter__Option {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    color: black;
    background-color: rgb(189, 8, 8);
    border-radius: .6rem;
    padding: .3rem 1rem;
    text-decoration: none;
    transition: .6s;
    outline: none;
}

.Filter__Option:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #000000;
}

.Cards__Box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
    padding-left: 3px;
}

.Card {
    margin: 0 auto;
}

.Card__Link {
    color: black;
    text-decoration: none;
}

.minibox{
    padding: 1.5rem;
    border-radius: 1rem;
    background-image: url(https://thumbs.gfycat.com/FemaleLimitedEland-size_restricted.gif);
    background-color: #000000;
    background-position: center;
    box-shadow: 0 8px 32px 0 rgba(130, 130, 130, 0.37);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(197, 191, 183);
    overflow: hidden;
    border: 1px solid black;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
}