.container {
    border: 1px solid white;
    width: 30%;
    padding: 1%;
    background-color: rgba(79, 77, 77, 0.3);
    margin-top: 10%;
    margin-left: 35%;
    color: white;
    border-radius: 10px;
}

.btn {
    margin: 20px;
}

.inp {
    height: 40px;
    border-radius: 7px;
}